@import "tailwindcss";

:root {
  --color-primary: #ff9500;
  --color-secondary: #f6464f;
  --color-accent: #9ed22d;
  --color-foreground: #383838;
  --color-background: #fffbf5;
  --color-white: #fafafa;
  --color-black: #030303;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
